.base-button {
  border-radius: 3px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-weight: 600;
  transition-property: border-color, background-color, color;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
